.ChatRoom {
    /* border: 10px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 92%;
    overflow: hidden;
    position: fixed;
    /* bottom: 0;  */
}

.ChatRoomHeader {
    /* border: 1px dotted black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    justify-content: center;
}

.PostedMessages {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 65%;
    width: 95%;

}

.MessageCardHolder {
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    margin-top: 10px;
}

.YourMessage {
    border: 1px solid blue;
    border-radius: 5px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    min-height: auto;
    box-shadow: 3px 3px 0 0 gray
}

.OthersMessage {
    border: 1px solid green;
    border-radius: 5px;
    background-color: rgb(171, 236, 171);
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    align-self: flex-end;
    box-shadow: 3px 3px 0 0 gray
}

.MessageCardHeader {
    /* border: 1px solid red; */
    margin-left: 15px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between
}

.MessageSender {
    /* border: 1px solid goldenrod; */
    font-size: 1.2em;
    font-weight: bolder;
}

.MessageSentOn {
    /* border: 1px solid purple; */
    font-size: .8em;
    font-style: italic;
}

.MessageAndEditButton {
    /* border: 1px solid pink; */
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.MessageTextContent {
    /* border: 1px solid gray; */
    width: 80%;
    height: 100%;
    overflow-y: auto;
}

.MessageEditButton{
    background-color: rgb(94, 194, 228);
    color: white;
    font-weight: bolder;
    width: 12%;
    height: 100%;
    max-height: 30px;
}

.NewMessageForm {
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:25%;
}

.MessageInput {
    /* border: 1px solid blue; */
    margin-top: 10px;
    height: 55%;
    width: 90%;
}

#messageText {
    border: 1px solid blue;
    border-radius: 5px;
    background-color: lightblue;
    width: 100%;
    height: 100%;
    vertical-align: text-top;
    overflow-wrap: break-word;
}

.SendButton {
    background-color: rgb(94, 194, 228);
    color: white;
    font-weight: bolder;
    width: 20%;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

